.homeAppliancesInstance {
  list-style-type: none;
  font-size: 1vw;
}

.homeAppliancesInstanceHead {
  font-size: 2vw;
}

.HomeAppliances {
  background-color: orange;
  color: white;
  text-align: center;
  border: solid;
  border-color: lightgrey;
}
