.powerbankSet {
  display: flex;
  gap: 7vw;
  list-style-type: none;
}

.powerbankList {
  background-color: white;
  font-size: 0.95vw;
  width: 25vw;
  height: 25vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.powerbankButton {
  font-size: 1vw;
  border-radius: 0.85rem;
  border-color: darkmagenta;
  background-color: red;
  color: white;
  text-align: center;
}

.powerbankImage {
  width: 12vw;
  height: 12vw;
}

.Powerbank {
  background-color: lightgreen;
}
